#detail-wrapper {
    background-color: red;
    display: inline-block;
    width: 98%;
    text-align: center;
}


/* Left Content*/

#detail-left {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: inline-block;
    margin: 10px;
}

#detail-media-wrapper {
    background-color: #310031;
    border: 5px solid #fafafa;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    color: white;
}

#detail-title {
    background-color: #fafafa;
    border: 2px solid #fafafa;
    padding: 2px;
    font-size: 24px;
    font-weight: bold;
    border-top: 1px solid #d1d1d1;
}

#detail-description {
    background-color: #d1d1d1;
    border: 2px solid #fafafa;
    padding: 10px;
}

#detail-comment-wrapper {}

.detail-comment {
    padding: 10px;
    border-bottom: 1px solid black;
    width: 90%;
    margin: auto;
}


/* Right Content*/

#detail-right {
    width: 100%;
    max-width: 350px;
    min-width: 200px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

#detail-tag-wrapper {}

.detail-tag {
    display: inline-block;
    margin: 5px;
    background: gray;
    padding: 0px 5px;
}

#detail-suggested-wrapper {}

.detail-list {
    list-style: none;
    padding: 0px;
    background-color: #d1d1d1;
    border: 2px solid white;
}

.detail-suggestion {}