body {
    margin: 0px;
}

#company-name {
    font-size: 3rem;
}

#company-name-link {
    display: table;
}


/* Search Bar and Suggestion */

#searchbar {
    position: absolute;
    width: 300px;
    height: 20px;
    border-radius: 15px;
    border: 1px black solid;
    padding: 5px 15px;
    left: calc(50% - 135px);
    top: 50px;
    background-color: rgb(247, 247, 247);
    z-index: 5;
}

#searchbar:focus {
    outline: 0;
}

.react-autosuggest__suggestions-container {
    border: 1px black solid;
    position: absolute;
    top: 80px;
    width: 307px;
    left: calc(50% - 124px);
    z-index: 3;
    background-color: white;
}

.suggestion {
    margin: 0px;
    padding: 1px 8px;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: lightgrey;
}

.suggestion:hover {
    cursor: pointer;
    background-color: lightgrey;
}


/* Menu */

#hidden-menu {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: #eee;
    width: 300px;
    height: 450px;
    z-index: 5;
}

#menu-icon-div {
    position: absolute;
    top: 10px;
    right: 15px;
}

#menu-icon-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu-icon {
    font-size: 2.5rem;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
}

ul .menu-account-icon {
    right: 240px;
    position: absolute;
    top: 10px;
    z-index: 10;
}

#hidden-menu-name {
    position: absolute;
    left: 60px;
    font-size: 20px;
    top: 27px;
    margin: 0px;
}

#hidden-menu-item-list {
    list-style: none;
    position: absolute;
    top: 50px;
    width: 250px;
    padding: 0px;
    text-align: center;
    margin-left: 25px;
}

.hidden-menu-item {
    background-color: grey;
    line-height: 29px;
    height: 30px;
    font-size: 20px;
    margin-bottom: 10px;
}
