#wrapper {}

.info-div {
    background-color: lightblue;
    float: left;
}

/* Profile Info */

#profile-info-div {
    width: 30%;
    overflow: hidden;
    text-align: center;
}

.profile-info {
    text-align: center;
    font-size: 1.3rem;
}

.profile-name-container {
    width: 90%;
    margin: auto;
    position: relative;
}

.edit-icon {
    display: inline-block;
    width: 24px;
    position: absolute;
    top: calc(50% - 12px);
}

#profile-name {
    font-size: 2rem;
    background-color: transparent;
    margin: 10px 0px;
    width: calc(100% - 24px);
    display: inline-block;
    border: none;
    border-bottom: 1px solid black;
    padding: 0px 24px;
    box-sizing: border-box;
}

#profile-name:focus {
    outline: none;
    border-bottom-width: 2px;
}

#profile-picture {
    background-color: #4a246d;
    border-radius: 15px;
    display: block;
    width: 100%;
    z-index: 5;
    cursor: pointer;
}

#profile-picture-container:hover #profile-picture {
    filter: grayscale(90);
}

#profile-picture-container {
    margin: auto;
    margin-top: 5%;
    width: 90%;
    position: relative;
}

.profile-picture-camera-icon {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 40%;
    left: 40%;
    cursor: pointer;
    z-index: 10;
    display: none;
    color: #4a246d;
}

#profile-picture-container:hover .profile-picture-camera-icon {
    display: block;
}

#profile-picture-capture {
    display: none;
}

#skill-list {
    list-style: none;
    padding: 0px;
    background-color: lightgray;
    margin: 5px;
}

#profile-skills-heading {}

.skill,
.tag {
    display: inline-block;
    margin: 5px;
    background: gray;
    padding: 0px 5px;
}

.account-heading {
    margin: 0px;
    text-align: left;
    margin-left: 15px;
    font-weight: bold;
}

/* Content Info */

#content-info-div {
    width: 67%;
    overflow: hidden;
    float: right;
}

#content-heading {
    font-size: 2rem;
    padding: 6px 10px;
}

.creation {
    background-color: lightcoral;
    width: 94%;
    margin: auto;
    padding: 0px 10px;
    margin-bottom: 10px;
    height: 125px;
    cursor: pointer;
}

.creation-icon {
    display: inline-block;
    float: left;
}

.creation-info {
    width: calc(100% - 140px);
    display: inline-block;
    max-height: 120px;
    margin-left: 10px;
    overflow: hidden;
}

.creation-name {
    font-size: 24px;
    margin: 15px 0px;
}

.profile-links-container {}

.profile-link {
    width: 100px;
    height: 100px;
    background-color: red;
}