#upload-wrapper {
    background-color: #e5e5e5;
    padding: 10px 0px;
    position: relative;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
}

.post-text-input {
    position: relative;
    height: 100px;
    width: 100%;
    margin: auto;
    display: block;
    box-sizing: border-box;
}

.post-button-container {
    width: 100%;
    margin: auto;
}

.post-button {
    width: calc(100% - 38px);
    height: 30px;
    border: none;
    border-radius: 8px;
    margin: 2px 0px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: #642864;
    color: #ffffff;
}

.post-button:hover {
    cursor: pointer;
    background-color: #512151;
}

.post-button:focus {
    outline: none;
}

.post-button-success {
    background-color: #20c563 !important;
    color: #245b3b !important;
}

.post-button-error {
    background-color: #e43a1e !important;
}

.post-icon {
    height: 38px;
    width: 38px;
    margin-top: -7px;
    color: #642864;
}

.post-icon:hover {
    cursor: pointer;
    color: #512151;
}

#media-capture,
#thumbnail-capture {
    display: none;
}

.hide {
    display: none;
}