#upload-container {
    width: 70%;
    background-color: gray;
    height: 50vh;
    margin: auto;
    text-align: center;
}

.xxl-icon {
    margin-top: calc(25vh - 166.66px);
}

#xxl-uploading {
    display: none;
}

#xxl-uploaded {
    display: none;
}

#xxl-upload:hover {
    -webkit-filter: drop-shadow(0px 0px 8px white);
    filter: drop-shadow(0px 0px 8px white);
    cursor: pointer;
}

#media-capture {
    display: none;
}

#thumbnail-image {
    width: 100px;
    height: 66.66px;
}

#thumbnail-image:hover {
    cursor: pointer;
}

#thumbnail-container {
    text-align: left;
}